.rotas {
    width: 800px;
    height: 600px;
    text-align: center;
    background-color: brown;
    text-decoration: none;
    text-align: center;

}

.calculadora, .contador {
    width: 800px;
    height: 800px;
    text-align: center;
    background-color: brown;
    text-decoration: none;
    text-align: center;

}




.links {
    color: white;
    background-color: white;
}
